.row {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}

.row {
    background-color: #24353F;
}

body {
    background-color: #24353F;
}

container {
    background-color: #24353F;
}

.container a {
    text-decoration: none;
}